*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

header {
    background-color: #111;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: linear-gradient(110deg, #111, #444); 
    color: white;
    text-align: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ccc;
}

.search-box {
    display: flex;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-box input {
    flex: 1;
    padding: 15px 20px;
    font-size: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    outline: none;
}

.search-box button {
    background-color: #555;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box button:hover {
    background-color: #333;
}        

.video-section {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    background-color: #fff;
}

.video-card {
    /* height: 200px;
    width: 450px; */
    background: #222;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.video-card:hover {
    transform: scale(1.03);
}

.video-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video-card .info {
    padding: 20px;
}

.video-card .info h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.video-card .info p {
    font-size: 0.9rem;
    color: #aaa;
}

footer {
    background: #111;
    color: #777;
    padding: 20px;
    text-align: center;
}
footer a{
    color: lightskyblue;
}

@media(max-width: 500px) {
    .search-box input {
            width: 80%;
    }
}
