Flask==2.3.3
flask-cors==4.0.0
flask-bcrypt==1.0.1
requests==2.31.0
python-dotenv==1.0.0
psycopg2-binary==2.9.7
numpy==1.24.3
isodate==0.6.1
PyJWT==2.8.0
sentence-transformers==2.2.2
transformers==4.35.2
huggingface-hub==0.20.3
gunicorn==21.2.0
psutil==5.9.6

torch==2.1.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html

